.about {
  display: grid;
  text-align: center;
  background-color: #282828;
}

.about-title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-0-25);
  color: var(--main-title-color-1);
}

.about-subtitle {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-25);
  color: var(--main-title-color-1);
}

.about-description {
  font-size: var(--small-font-size);
  color: var(--main-title-color-1);
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-container > a {
  background-color: rgb(255, 255, 255);
  margin-right: 20px;
}

.btn-container > a:hover {
  color: white;
  background-color: rgb(206, 202, 195);
}
