.footer-socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-container {
    display: flex;
    flex-direction: row;
}

.footer-social > a:hover {
    color: var(--main-title-color-2);
}

.footer-title {
    text-align: center;
}