@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

.header-wrapper {
  background-color: var(--lavender);
}

:root {
  --white: #ffffff;
  --peach: #eea47fff;
  --teal: #317773;
  --lavender: #e2d1f9;
}

.container {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  resize: none;
}

// navbar styles
nav a.nav-link {
  letter-spacing: 0.001rem;
  cursor: pointer;
}

.logo a {
  font-size: 45px;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 32px;
  color: var(--white) !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  border: 0.1rem solid var(--teal);
  border-radius: 10px;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
